.gridItem {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #FF8B37;
  font-size: 30px;
  text-align: center;
  height: 10vh;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCardInner {
  transform: rotateY(180deg);
}

/* .flipCardClose {
  display: none;
} */

/* Position the front and back side */
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flipCardBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

