.card {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  /* display: block; */
  border: 2px solid #FF8B37;
  border-radius: 5px;
  cursor: pointer;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: 'absolute';
  max-width: 120px;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  background-color: 'green';
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  width: 120px;
  height: 120px;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media only screen and (max-width: 600px) {
  .card .back {
    width: 67px;
    height: 67px;
  }
  .card .front {
    max-width: 67px;
    
  }
}

