.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  height: 85%;
  width: 90%;
  border: 2px solid black;
}

.title {
  width: 90%;
  padding-left: 4rem;
  font-weight: 900;
  font-size: 1rem;
}

.description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 2rem;
}

.description button {
  background-color: #FF8B37;
  border: none;
  color: white;
  font-weight: bold;
  width: 15rem;
  cursor: pointer;
  border-radius: 5px;
}

.description button:active {
  background-color: #b4774b;
  box-shadow: 4px 5px 2px #666;
  transform: translateY(4px);
}

.description button:hover {
  background-color: #ca5e10;
}

.description p {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin: auto;
  gap: 4rem;
  margin-top: 2rem;
}


